* {
  font-family: sans-serif;
}
.main-container {
  width: 1080px;
}
.hColor {
  color: #7972ff;
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 100vw;
  }
  .fw-bold {
    font-size: 20px;
    font-weight: bold;
  }
}
